In [330]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns



data=pd.read_csv('cust_satisfaction.csv')
# print(data.count())
# print(data.duplicated())
print(data.nunique())  #for checking the unique values of the attributes in the dataframe data

Gender                           2
Customer Type                    2
Type of Travel                   2
Class                            3
satisfaction                     2
Age                             75
Flight Distance               3802
Inflight entertainment           6
Baggage handling                 5
Cleanliness                      6
Departure Delay in Minutes     446
Arrival Delay in Minutes       455
dtype: int64

In [331]:
print(data['Customer Type'].value_counts())
data.info()

Customer Type
Loyal Customer       84923
disloyal Customer    18981
Name: count, dtype: int64
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 103904 entries, 0 to 103903
Data columns (total 12 columns):
 #   Column                      Non-Null Count   Dtype
---  ------                      --------------   -----
 0   Gender                      103904 non-null  object
 1   Customer Type               103904 non-null  object
 2   Type of Travel              103904 non-null  object
 3   Class                       103904 non-null  object
 4   satisfaction                103904 non-null  object
 5   Age                         103904 non-null  int64
 6   Flight Distance             103904 non-null  int64
 7   Inflight entertainment      103904 non-null  int64
 8   Baggage handling            103904 non-null  int64
 9   Cleanliness                 103904 non-null  int64
 10  Departure Delay in Minutes  103904 non-null  int64
 11  Arrival Delay in Minutes    103594 non-null  float64
dtypes: float64(1), int64(6), object(5)
memory usage: 9.5+ MB

In [332]:
# print(data.isnull().sum())


# df=data.shape[0]-data.isnull()  #for removing the null values from the dataset
data.dropna(inplace=True)   #also can be done by this function dropna
print(data.isnull().sum())

Gender                        0
Customer Type                 0
Type of Travel                0
Class                         0
satisfaction                  0
Age                           0
Flight Distance               0
Inflight entertainment        0
Baggage handling              0
Cleanliness                   0
Departure Delay in Minutes    0
Arrival Delay in Minutes      0
dtype: int64

In [333]:
print(data.duplicated().sum())
data.drop_duplicates(inplace=True)  #for removing the duplicated data

print(data.duplicated().sum())

172
0

In [334]:
loyal_customer=data[data['Customer Type']=='Loyal Customer']  #storing the loyal_customer into the another data frame
disloyal_customer=data[data['Customer Type']=='disloyal Customer']  #storing the disloyal customer in the another data frame

# print(loyal_customer.count())
print(loyal_customer.head())
# print(disloyal_customer.count())
print(disloyal_customer.head())

   Gender   Customer Type   Type of Travel     Class             satisfaction  \
0    Male  Loyal Customer  Personal Travel  Eco Plus  neutral or dissatisfied
2  Female  Loyal Customer  Business travel  Business                satisfied
3  Female  Loyal Customer  Business travel  Business  neutral or dissatisfied
4    Male  Loyal Customer  Business travel  Business                satisfied
5  Female  Loyal Customer  Personal Travel       Eco  neutral or dissatisfied

   Age  Flight Distance  Inflight entertainment  Baggage handling  \
0   13              460                       5                 4
2   26             1142                       5                 4
3   25              562                       2                 3
4   61              214                       3                 4
5   26             1180                       1                 4

   Cleanliness  Departure Delay in Minutes  Arrival Delay in Minutes
0            5                          25                      18.0
2            5                           0                       0.0
3            2                          11                       9.0
4            3                           0                       0.0
5            1                           0                       0.0
    Gender      Customer Type   Type of Travel     Class  \
1     Male  disloyal Customer  Business travel  Business
9     Male  disloyal Customer  Business travel       Eco
10  Female  disloyal Customer  Business travel       Eco
15    Male  disloyal Customer  Business travel       Eco
24  Female  disloyal Customer  Business travel       Eco

               satisfaction  Age  Flight Distance  Inflight entertainment  \
1   neutral or dissatisfied   25              235                       1
9   neutral or dissatisfied   20             1061                       2
10  neutral or dissatisfied   24             1182                       2
15  neutral or dissatisfied   13              486                       4
24                satisfied   23              452                       1

    Baggage handling  Cleanliness  Departure Delay in Minutes  \
1                  3            1                           1
9                  4            2                           0
10                 5            2                           0
15                 4            4                           1
24                 5            1                          54

    Arrival Delay in Minutes
1                        6.0
9                        0.0
10                       0.0
15                       0.0
24                      44.0

In [335]:
loyal_customer1=loyal_customer.sample(21000)
print(loyal_customer1.count())
loyal_customer1.shape

Gender                        21000
Customer Type                 21000
Type of Travel                21000
Class                         21000
satisfaction                  21000
Age                           21000
Flight Distance               21000
Inflight entertainment        21000
Baggage handling              21000
Cleanliness                   21000
Departure Delay in Minutes    21000
Arrival Delay in Minutes      21000
dtype: int64

(21000, 12)

In [336]:
balance_df=pd.concat([loyal_customer1,disloyal_customer],axis=0)
# print(balance_df.count())
print(balance_df.head())

       Gender   Customer Type   Type of Travel     Class  \
93692    Male  Loyal Customer  Business travel  Business
53831  Female  Loyal Customer  Personal Travel       Eco
39047    Male  Loyal Customer  Business travel  Business
83024    Male  Loyal Customer  Personal Travel       Eco
18119    Male  Loyal Customer  Personal Travel       Eco

                  satisfaction  Age  Flight Distance  Inflight entertainment  \
93692                satisfied   55             1916                       4
53831  neutral or dissatisfied   20              462                       1
39047                satisfied   46             3966                       4
83024  neutral or dissatisfied   40              406                       3
18119  neutral or dissatisfied   19              862                       3

       Baggage handling  Cleanliness  Departure Delay in Minutes  \
93692                 4            3                           0
53831                 5            1                           0
39047                 4            5                           0
83024                 5            3                           0
18119                 4            3                         110

       Arrival Delay in Minutes
93692                       0.0
53831                       0.0
39047                       0.0
83024                       0.0
18119                      97.0

In [337]:
cat_col=balance_df.select_dtypes(include='O')
num_col=balance_df.select_dtypes(exclude='O')
print(num_col.head())
print(cat_col.head())
print(num_col.shape)
print(cat_col.shape)

       Age  Flight Distance  Inflight entertainment  Baggage handling  \
93692   55             1916                       4                 4
53831   20              462                       1                 5
39047   46             3966                       4                 4
83024   40              406                       3                 5
18119   19              862                       3                 4

       Cleanliness  Departure Delay in Minutes  Arrival Delay in Minutes
93692            3                           0                       0.0
53831            1                           0                       0.0
39047            5                           0                       0.0
83024            3                           0                       0.0
18119            3                         110                      97.0
       Gender   Customer Type   Type of Travel     Class  \
93692    Male  Loyal Customer  Business travel  Business
53831  Female  Loyal Customer  Personal Travel       Eco
39047    Male  Loyal Customer  Business travel  Business
83024    Male  Loyal Customer  Personal Travel       Eco
18119    Male  Loyal Customer  Personal Travel       Eco

                  satisfaction
93692                satisfied
53831  neutral or dissatisfied
39047                satisfied
83024  neutral or dissatisfied
18119  neutral or dissatisfied
(39905, 7)
(39905, 5)

In [338]:
cat_col

,Gender,Customer Type,Type of Travel,Class,satisfaction
93692,Male,Loyal Customer,Business travel,Business,satisfied
53831,Female,Loyal Customer,Personal Travel,Eco,neutral or dissatisfied
39047,Male,Loyal Customer,Business travel,Business,satisfied
83024,Male,Loyal Customer,Personal Travel,Eco,neutral or dissatisfied
18119,Male,Loyal Customer,Personal Travel,Eco,neutral or dissatisfied
...,...,...,...,...,...
103892,Female,disloyal Customer,Business travel,Business,neutral or dissatisfied
103895,Female,disloyal Customer,Business travel,Eco,neutral or dissatisfied
103899,Female,disloyal Customer,Business travel,Eco,neutral or dissatisfied
103901,Male,disloyal Customer,Business travel,Business,neutral or dissatisfied
103902,Female,disloyal Customer,Business travel,Eco,neutral or dissatisfied

In [339]:
from sklearn.preprocessing import LabelEncoder,OneHotEncoder


encoder=OneHotEncoder(drop='if_binary')

In [340]:
encoder=OneHotEncoder()

print(OneHotEncoder.__doc__)  #to printing the documentation of the OneHotEncoder class

    Encode categorical features as a one-hot numeric array.

    The input to this transformer should be an array-like of integers or
    strings, denoting the values taken on by categorical (discrete) features.
    The features are encoded using a one-hot (aka 'one-of-K' or 'dummy')
    encoding scheme. This creates a binary column for each category and
    returns a sparse matrix or dense array (depending on the ``sparse_output``
    parameter).

    By default, the encoder derives the categories based on the unique values
    in each feature. Alternatively, you can also specify the `categories`
    manually.

    This encoding is needed for feeding categorical data to many scikit-learn
    estimators, notably linear models and SVMs with the standard kernels.

    Note: a one-hot encoding of y labels should use a LabelBinarizer
    instead.

    Read more in the :ref:`User Guide <preprocessing_categorical_features>`.
    For a comparison of different encoders, refer to:
    :ref:`sphx_glr_auto_examples_preprocessing_plot_target_encoder.py`.

    Parameters
    ----------
    categories : 'auto' or a list of array-like, default='auto'
        Categories (unique values) per feature:

        - 'auto' : Determine categories automatically from the training data.
        - list : ``categories[i]`` holds the categories expected in the ith
          column. The passed categories should not mix strings and numeric
          values within a single feature, and should be sorted in case of
          numeric values.

        The used categories can be found in the ``categories_`` attribute.

        .. versionadded:: 0.20

    drop : {'first', 'if_binary'} or an array-like of shape (n_features,),             default=None
        Specifies a methodology to use to drop one of the categories per
        feature. This is useful in situations where perfectly collinear
        features cause problems, such as when feeding the resulting data
        into an unregularized linear regression model.

        However, dropping one category breaks the symmetry of the original
        representation and can therefore induce a bias in downstream models,
        for instance for penalized linear classification or regression models.

        - None : retain all features (the default).
        - 'first' : drop the first category in each feature. If only one
          category is present, the feature will be dropped entirely.
        - 'if_binary' : drop the first category in each feature with two
          categories. Features with 1 or more than 2 categories are
          left intact.
        - array : ``drop[i]`` is the category in feature ``X[:, i]`` that
          should be dropped.

        When `max_categories` or `min_frequency` is configured to group
        infrequent categories, the dropping behavior is handled after the
        grouping.

        .. versionadded:: 0.21
           The parameter `drop` was added in 0.21.

        .. versionchanged:: 0.23
           The option `drop='if_binary'` was added in 0.23.

        .. versionchanged:: 1.1
            Support for dropping infrequent categories.

    sparse_output : bool, default=True
        When ``True``, it returns a :class:`scipy.sparse.csr_matrix`,
        i.e. a sparse matrix in "Compressed Sparse Row" (CSR) format.

        .. versionadded:: 1.2
           `sparse` was renamed to `sparse_output`

    dtype : number type, default=np.float64
        Desired dtype of output.

    handle_unknown : {'error', 'ignore', 'infrequent_if_exist'},                      default='error'
        Specifies the way unknown categories are handled during :meth:`transform`.

        - 'error' : Raise an error if an unknown category is present during transform.
        - 'ignore' : When an unknown category is encountered during
          transform, the resulting one-hot encoded columns for this feature
          will be all zeros. In the inverse transform, an unknown category
          will be denoted as None.
        - 'infrequent_if_exist' : When an unknown category is encountered
          during transform, the resulting one-hot encoded columns for this
          feature will map to the infrequent category if it exists. The
          infrequent category will be mapped to the last position in the
          encoding. During inverse transform, an unknown category will be
          mapped to the category denoted `'infrequent'` if it exists. If the
          `'infrequent'` category does not exist, then :meth:`transform` and
          :meth:`inverse_transform` will handle an unknown category as with
          `handle_unknown='ignore'`. Infrequent categories exist based on
          `min_frequency` and `max_categories`. Read more in the
          :ref:`User Guide <encoder_infrequent_categories>`.

        .. versionchanged:: 1.1
            `'infrequent_if_exist'` was added to automatically handle unknown
            categories and infrequent categories.

    min_frequency : int or float, default=None
        Specifies the minimum frequency below which a category will be
        considered infrequent.

        - If `int`, categories with a smaller cardinality will be considered
          infrequent.

        - If `float`, categories with a smaller cardinality than
          `min_frequency * n_samples`  will be considered infrequent.

        .. versionadded:: 1.1
            Read more in the :ref:`User Guide <encoder_infrequent_categories>`.

    max_categories : int, default=None
        Specifies an upper limit to the number of output features for each input
        feature when considering infrequent categories. If there are infrequent
        categories, `max_categories` includes the category representing the
        infrequent categories along with the frequent categories. If `None`,
        there is no limit to the number of output features.

        .. versionadded:: 1.1
            Read more in the :ref:`User Guide <encoder_infrequent_categories>`.

    feature_name_combiner : "concat" or callable, default="concat"
        Callable with signature `def callable(input_feature, category)` that returns a
        string. This is used to create feature names to be returned by
        :meth:`get_feature_names_out`.

        `"concat"` concatenates encoded feature name and category with
        `feature + "_" + str(category)`.E.g. feature X with values 1, 6, 7 create
        feature names `X_1, X_6, X_7`.

        .. versionadded:: 1.3

    Attributes
    ----------
    categories_ : list of arrays
        The categories of each feature determined during fitting
        (in order of the features in X and corresponding with the output
        of ``transform``). This includes the category specified in ``drop``
        (if any).

    drop_idx_ : array of shape (n_features,)
        - ``drop_idx_[i]`` is the index in ``categories_[i]`` of the category
          to be dropped for each feature.
        - ``drop_idx_[i] = None`` if no category is to be dropped from the
          feature with index ``i``, e.g. when `drop='if_binary'` and the
          feature isn't binary.
        - ``drop_idx_ = None`` if all the transformed features will be
          retained.

        If infrequent categories are enabled by setting `min_frequency` or
        `max_categories` to a non-default value and `drop_idx[i]` corresponds
        to a infrequent category, then the entire infrequent category is
        dropped.

        .. versionchanged:: 0.23
           Added the possibility to contain `None` values.

    infrequent_categories_ : list of ndarray
        Defined only if infrequent categories are enabled by setting
        `min_frequency` or `max_categories` to a non-default value.
        `infrequent_categories_[i]` are the infrequent categories for feature
        `i`. If the feature `i` has no infrequent categories
        `infrequent_categories_[i]` is None.

        .. versionadded:: 1.1

    n_features_in_ : int
        Number of features seen during :term:`fit`.

        .. versionadded:: 1.0

    feature_names_in_ : ndarray of shape (`n_features_in_`,)
        Names of features seen during :term:`fit`. Defined only when `X`
        has feature names that are all strings.

        .. versionadded:: 1.0

    feature_name_combiner : callable or None
        Callable with signature `def callable(input_feature, category)` that returns a
        string. This is used to create feature names to be returned by
        :meth:`get_feature_names_out`.

        .. versionadded:: 1.3

    See Also
    --------
    OrdinalEncoder : Performs an ordinal (integer)
      encoding of the categorical features.
    TargetEncoder : Encodes categorical features using the target.
    sklearn.feature_extraction.DictVectorizer : Performs a one-hot encoding of
      dictionary items (also handles string-valued features).
    sklearn.feature_extraction.FeatureHasher : Performs an approximate one-hot
      encoding of dictionary items or strings.
    LabelBinarizer : Binarizes labels in a one-vs-all
      fashion.
    MultiLabelBinarizer : Transforms between iterable of
      iterables and a multilabel format, e.g. a (samples x classes) binary
      matrix indicating the presence of a class label.

    Examples
    --------
    Given a dataset with two features, we let the encoder find the unique
    values per feature and transform the data to a binary one-hot encoding.

    >>> from sklearn.preprocessing import OneHotEncoder

    One can discard categories not seen during `fit`:

    >>> enc = OneHotEncoder(handle_unknown='ignore')
    >>> X = [['Male', 1], ['Female', 3], ['Female', 2]]
    >>> enc.fit(X)
    OneHotEncoder(handle_unknown='ignore')
    >>> enc.categories_
    [array(['Female', 'Male'], dtype=object), array([1, 2, 3], dtype=object)]
    >>> enc.transform([['Female', 1], ['Male', 4]]).toarray()
    array([[1., 0., 1., 0., 0.],
           [0., 1., 0., 0., 0.]])
    >>> enc.inverse_transform([[0, 1, 1, 0, 0], [0, 0, 0, 1, 0]])
    array([['Male', 1],
           [None, 2]], dtype=object)
    >>> enc.get_feature_names_out(['gender', 'group'])
    array(['gender_Female', 'gender_Male', 'group_1', 'group_2', 'group_3'], ...)

    One can always drop the first column for each feature:

    >>> drop_enc = OneHotEncoder(drop='first').fit(X)
    >>> drop_enc.categories_
    [array(['Female', 'Male'], dtype=object), array([1, 2, 3], dtype=object)]
    >>> drop_enc.transform([['Female', 1], ['Male', 2]]).toarray()
    array([[0., 0., 0.],
           [1., 1., 0.]])

    Or drop a column for feature only having 2 categories:

    >>> drop_binary_enc = OneHotEncoder(drop='if_binary').fit(X)
    >>> drop_binary_enc.transform([['Female', 1], ['Male', 2]]).toarray()
    array([[0., 1., 0., 0.],
           [1., 0., 1., 0.]])

    One can change the way feature names are created.

    >>> def custom_combiner(feature, category):
    ...     return str(feature) + "_" + type(category).__name__ + "_" + str(category)
    >>> custom_fnames_enc = OneHotEncoder(feature_name_combiner=custom_combiner).fit(X)
    >>> custom_fnames_enc.get_feature_names_out()
    array(['x0_str_Female', 'x0_str_Male', 'x1_int_1', 'x1_int_2', 'x1_int_3'],
          dtype=object)

    Infrequent categories are enabled by setting `max_categories` or `min_frequency`.

    >>> import numpy as np
    >>> X = np.array([["a"] * 5 + ["b"] * 20 + ["c"] * 10 + ["d"] * 3], dtype=object).T
    >>> ohe = OneHotEncoder(max_categories=3, sparse_output=False).fit(X)
    >>> ohe.infrequent_categories_
    [array(['a', 'd'], dtype=object)]
    >>> ohe.transform([["a"], ["b"]])
    array([[0., 0., 1.],
           [1., 0., 0.]])

In [341]:
onehot_data=encoder.fit_transform(cat_col).toarray()
print(onehot_data.shape)
print(onehot_data)
print

(39905, 11)
[[0. 1. 1. ... 0. 0. 1.]
 [1. 0. 1. ... 0. 1. 0.]
 [0. 1. 1. ... 0. 0. 1.]
 ...
 [1. 0. 0. ... 0. 1. 0.]
 [0. 1. 0. ... 0. 1. 0.]
 [1. 0. 0. ... 0. 1. 0.]]

In [342]:
column_names=list(encoder.get_feature_names_out())
column_names

['Gender_Female',
 'Gender_Male',
 'Customer Type_Loyal Customer',
 'Customer Type_disloyal Customer',
 'Type of Travel_Business travel',
 'Type of Travel_Personal Travel',
 'Class_Business',
 'Class_Eco',
 'Class_Eco Plus',
 'satisfaction_neutral or dissatisfied',
 'satisfaction_satisfied']

In [343]:
one_hot=pd.DataFrame(onehot_data,columns=column_names)

# print(one_hot.isnull().sum())

In [352]:
final_df=pd.concat([one_hot,num_col],axis=1)
print(final_df)

       Gender_Female  Gender_Male  Customer Type_Loyal Customer  \
0                0.0          1.0                           1.0
1                1.0          0.0                           1.0
2                0.0          1.0                           1.0
3                0.0          1.0                           1.0
4                0.0          1.0                           1.0
...              ...          ...                           ...
39900            1.0          0.0                           0.0
39901            1.0          0.0                           0.0
39902            1.0          0.0                           0.0
39903            0.0          1.0                           0.0
39904            1.0          0.0                           0.0

       Customer Type_disloyal Customer  Type of Travel_Business travel  \
0                                  0.0                             1.0
1                                  0.0                             0.0
2                                  0.0                             1.0
3                                  0.0                             0.0
4                                  0.0                             0.0
...                                ...                             ...
39900                              1.0                             1.0
39901                              1.0                             1.0
39902                              1.0                             1.0
39903                              1.0                             1.0
39904                              1.0                             1.0

       Type of Travel_Personal Travel  Class_Business  Class_Eco  \
0                                 0.0             1.0        0.0
1                                 1.0             0.0        1.0
2                                 0.0             1.0        0.0
3                                 1.0             0.0        1.0
4                                 1.0             0.0        1.0
...                               ...             ...        ...
39900                             0.0             1.0        0.0
39901                             0.0             0.0        1.0
39902                             0.0             0.0        1.0
39903                             0.0             1.0        0.0
39904                             0.0             0.0        1.0

       Class_Eco Plus  satisfaction_neutral or dissatisfied  \
0                 0.0                                   0.0
1                 0.0                                   1.0
2                 0.0                                   0.0
3                 0.0                                   1.0
4                 0.0                                   1.0
...               ...                                   ...
39900             0.0                                   1.0
39901             0.0                                   1.0
39902             0.0                                   1.0
39903             0.0                                   1.0
39904             0.0                                   1.0

       satisfaction_satisfied  Age  Flight Distance  Inflight entertainment  \
0                         1.0   55             1916                       4
1                         0.0   20              462                       1
2                         1.0   46             3966                       4
3                         0.0   40              406                       3
4                         0.0   19              862                       3
...                       ...  ...              ...                     ...
39900                     0.0   37              596                       3
39901                     0.0   24             1055                       1
39902                     0.0   23              192                       2
39903                     0.0   30             1995                       4
39904                     0.0   22             1000                       1

       Baggage handling  Cleanliness  Departure Delay in Minutes  \
0                     4            3                           0
1                     5            1                           0
2                     4            5                           0
3                     5            3                           0
4                     4            3                         110
...                 ...          ...                         ...
39900                 3            3                         110
39901                 5            1                          13
39902                 4            2                           3
39903                 4            4                           7
39904                 1            1                           0

       Arrival Delay in Minutes
0                           0.0
1                           0.0
2                           0.0
3                           0.0
4                          97.0
...                         ...
39900                     121.0
39901                      10.0
39902                       0.0
39903                      14.0
39904                       0.0

[39905 rows x 18 columns]

In [353]:
num_col.reset_index(drop=True,inplace=True)
print(final_df)

       Gender_Female  Gender_Male  Customer Type_Loyal Customer  \
0                0.0          1.0                           1.0
1                1.0          0.0                           1.0
2                0.0          1.0                           1.0
3                0.0          1.0                           1.0
4                0.0          1.0                           1.0
...              ...          ...                           ...
39900            1.0          0.0                           0.0
39901            1.0          0.0                           0.0
39902            1.0          0.0                           0.0
39903            0.0          1.0                           0.0
39904            1.0          0.0                           0.0

       Customer Type_disloyal Customer  Type of Travel_Business travel  \
0                                  0.0                             1.0
1                                  0.0                             0.0
2                                  0.0                             1.0
3                                  0.0                             0.0
4                                  0.0                             0.0
...                                ...                             ...
39900                              1.0                             1.0
39901                              1.0                             1.0
39902                              1.0                             1.0
39903                              1.0                             1.0
39904                              1.0                             1.0

       Type of Travel_Personal Travel  Class_Business  Class_Eco  \
0                                 0.0             1.0        0.0
1                                 1.0             0.0        1.0
2                                 0.0             1.0        0.0
3                                 1.0             0.0        1.0
4                                 1.0             0.0        1.0
...                               ...             ...        ...
39900                             0.0             1.0        0.0
39901                             0.0             0.0        1.0
39902                             0.0             0.0        1.0
39903                             0.0             1.0        0.0
39904                             0.0             0.0        1.0

       Class_Eco Plus  satisfaction_neutral or dissatisfied  \
0                 0.0                                   0.0
1                 0.0                                   1.0
2                 0.0                                   0.0
3                 0.0                                   1.0
4                 0.0                                   1.0
...               ...                                   ...
39900             0.0                                   1.0
39901             0.0                                   1.0
39902             0.0                                   1.0
39903             0.0                                   1.0
39904             0.0                                   1.0

       satisfaction_satisfied  Age  Flight Distance  Inflight entertainment  \
0                         1.0   55             1916                       4
1                         0.0   20              462                       1
2                         1.0   46             3966                       4
3                         0.0   40              406                       3
4                         0.0   19              862                       3
...                       ...  ...              ...                     ...
39900                     0.0   37              596                       3
39901                     0.0   24             1055                       1
39902                     0.0   23              192                       2
39903                     0.0   30             1995                       4
39904                     0.0   22             1000                       1

       Baggage handling  Cleanliness  Departure Delay in Minutes  \
0                     4            3                           0
1                     5            1                           0
2                     4            5                           0
3                     5            3                           0
4                     4            3                         110
...                 ...          ...                         ...
39900                 3            3                         110
39901                 5            1                          13
39902                 4            2                           3
39903                 4            4                           7
39904                 1            1                           0

       Arrival Delay in Minutes
0                           0.0
1                           0.0
2                           0.0
3                           0.0
4                          97.0
...                         ...
39900                     121.0
39901                      10.0
39902                       0.0
39903                      14.0
39904                       0.0

[39905 rows x 18 columns]

In [346]:
final_df.to_csv('cust_ariline_cleaned.csv',index=False)

In [347]:
x=final_df.drop('Customer Type_disloyal Customer',axis=1)

y=final_df['Customer Type_Loyal Customer']