In [18]:
import pandas as pd
import numpy as np

data=pd.read_csv("Used_Bikes.csv")
# print(data.head())
# print(data.head(10))
# print(data.tail(20))
price=data[data["price"]<=50000]
# print(price[price["brand"]=='TVS'])
print(data.isnull().sum())  #it prints the sum of number of null values of every column
print(data.duplicated().sum())
print(data["brand"].unique())

bike_name     0
price         0
city          0
kms_driven    0
owner         0
age           0
power         0
brand         0
dtype: int64
25324
['TVS' 'Royal Enfield' 'Triumph' 'Yamaha' 'Honda' 'Hero' 'Bajaj' 'Suzuki'
 'Benelli' 'KTM' 'Mahindra' 'Kawasaki' 'Ducati' 'Hyosung'
 'Harley-Davidson' 'Jawa' 'BMW' 'Indian' 'Rajdoot' 'LML' 'Yezdi' 'MV'
 'Ideal']

              price     kms_driven         age       power
count    794.000000     794.000000  794.000000  794.000000
mean   28016.448363   13471.259446    9.045340  166.863980
std     4594.196300   19089.696037    1.585864   27.125678
min     5800.000000    2342.000000    4.000000  100.000000
25%    30000.000000    6639.000000    9.000000  180.000000
50%    30000.000000    6639.000000    9.000000  180.000000
75%    30000.000000    6639.000000    9.000000  180.000000
max    30000.000000  266028.000000   18.000000  180.000000

<h1>Bikes of the specific brand tvs </h1>

In [53]:
tvsbikes=data[data["brand"]=="TVS"]
tvsbikes[tvsbikes["price"]<=30000].describe()
print(tvsbikes.describe())

               price     kms_driven          age        power
count    1247.000000    1247.000000  1247.000000  1247.000000
mean    44299.146752   14717.836407     7.310345   170.994387
std     32540.843696   18193.866096     2.928919    35.771333
min      5800.000000     100.000000     1.000000   100.000000
25%     30000.000000    6639.000000     5.000000   160.000000
50%     30000.000000    6639.000000     9.000000   180.000000
75%     50000.000000   18477.000000     9.000000   180.000000
max    224000.000000  266028.000000    23.000000   310.000000

In [82]:


data=pd.read_csv("Used_Bikes.csv")
royal_enfield=data[data["brand"]=="Royal Enfield"]
rbike=royal_enfield[royal_enfield["bike_name"]=="Royal Enfield Classic 350cc"]
# print(rbike)
price=rbike[rbike["price"]>=100000]
age=price[price['age']==2]
print(age)
# print(age[age["kms_driven"]<=50000])


# print(requiredkms[requiredkms['age']==2])

                        bike_name     price       city  kms_driven  \
479   Royal Enfield Classic 350cc  150000.0      Delhi      4000.0
5495  Royal Enfield Classic 350cc  150000.0       Kota      1947.0
6590  Royal Enfield Classic 350cc  130000.0  Ghaziabad     19249.0
6715  Royal Enfield Classic 350cc  130000.0  Ghaziabad     19249.0

            owner  age  power          brand
479   First Owner  2.0  350.0  Royal Enfield
5495  First Owner  2.0  350.0  Royal Enfield
6590  First Owner  2.0  350.0  Royal Enfield
6715  First Owner  2.0  350.0  Royal Enfield

new task

In [94]:


bike=data[data["brand"]=="Royal Enfield"]


royal=bike[bike["bike_name"]=="Royal Enfield Classic Desert Storm 500cc"]


fowner=royal[royal['owner']=="First Owner"]

city=fowner[fowner['city']=='Delhi']
power=city[city["power"]==500]

print(power[power["age"]<=5])

print(power.describe())

                                     bike_name     price   city  kms_driven  \
5195  Royal Enfield Classic Desert Storm 500cc  119000.0  Delhi     14735.0
5455  Royal Enfield Classic Desert Storm 500cc  119000.0  Delhi     14735.0
9241  Royal Enfield Classic Desert Storm 500cc  140000.0  Delhi      8500.0

            owner  age  power          brand
5195  First Owner  5.0  500.0  Royal Enfield
5455  First Owner  5.0  500.0  Royal Enfield
9241  First Owner  5.0  500.0  Royal Enfield
               price    kms_driven       age  power
count       8.000000      8.000000  8.000000    8.0
mean   113825.000000  11251.875000  6.125000  500.0
std     13600.078781   5216.319815  1.125992    0.0
min     98100.000000   3545.000000  5.000000  500.0
25%    105825.000000   7625.000000  5.000000  500.0
50%    114000.000000  11617.500000  6.000000  500.0
75%    119000.000000  15301.250000  7.000000  500.0
max    140000.000000  17000.000000  8.000000  500.0

<h1> new task </h1>

In [116]:
# owner second
# brand ktm and royal royal_enfield
# less km
# price more than 1 lakh
req=data[data["owner"]=="Second Owner"]
royal=req[(req["brand"]=="Royal Enfield") & (req["age"]>3) & (req["price"]>100000)]
ktm=req[(req["brand"]=="KTM") & (req["age"]>3) & (req["price"]>100000)]

print(royal.count())
print(ktm.count())
print(ktm.describe())
print(royal.describe())

bike_name     33
price         33
city          33
kms_driven    33
owner         33
age           33
power         33
brand         33
dtype: int64
bike_name     16
price         16
city          16
kms_driven    16
owner         16
age           16
power         16
brand         16
dtype: int64
               price    kms_driven        age       power
count      16.000000     16.000000  16.000000   16.000000
mean   180812.500000  17088.875000   5.187500  336.875000
std    182447.880686   8560.625389   1.223043   82.600948
min    110000.000000   4159.000000   4.000000  200.000000
25%    119500.000000  11034.000000   4.000000  250.000000
50%    132500.000000  15273.500000   5.000000  390.000000
75%    150000.000000  23250.000000   6.250000  390.000000
max    860000.000000  37000.000000   7.000000  390.000000
               price    kms_driven        age       power
count      33.000000     33.000000  33.000000   33.000000
mean   134103.030303  16971.848485   6.606061  445.454545
std     38833.003721   9826.810393   4.084570   76.865992
min    105000.000000   1400.000000   4.000000  350.000000
25%    115000.000000  13110.000000   5.000000  350.000000
50%    121000.000000  15000.000000   6.000000  500.000000
75%    133100.000000  19926.000000   6.000000  500.000000
max    250000.000000  48000.000000  27.000000  535.000000